# these you arrange on your sanity.io/manage login

# n.b. duplicated elements are to suit both Sanity website
# and platform Studio prefix forms -- whenever both are needed

PUBLIC_SANITY_PROJECT_ID='your-projrctId'
SANITY_STUDIO+PROJECT_ID='your-projrctId'
PUBLIC_SANITY_DATASET='your-dataset'
SANITY_STUDIO_DATASET='your-dataset'

PUBLIC_SANITY_API_READ_TOKEN='your-viewer-token'
# watch out here, use your project date, as sanity keeps updating need
PUBLIC_SANITY_API_VERSION='v2025-06-10'

# true gives SSR server, false gives SSG.
PUBLIC_SANITY_PREVIEW_SSR='true'
SANITY_STUDIO_PREVIEW_SSR='true'

# this is the full http:/https: url for site app where you're running it, dev or deploy
PUBLIC_SANITY_STUDIO_PREVIEW_URL='your-dev-or-deployment-url'
SANITY_STUDIO_PREVIEW_URL='your-dev-or-deployment-url'

# choose Visual Editing settings here
PUBLIC_SANITY_STUDIO_BASE_PATH='/studio'
PUBLIC_SANITY_VISUAL_EDITING_ENABLED='true'

# these are or have been in local development variants
PUBLIC_SANITY_FULL_RENDER_DELAY=30